



/*hide all default dummy images*/
img[src="default.png"] {
  display:None;
}


.gallery {
  line-height: 0px;
  font-size: 0px;
}

h1 {
  margin-top: 0.05em;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}


.gallery object {
    max-width: 100%;
    padding-bottom: 32px;
}


.info {height: 100vh}

.client_span {
  font-size: 0.6em;
  line-height: 0em;
}



.scroll {
  position:absolute;
  bottom: 1em;
  width: 20%;
  margin: auto;
  opacitiy: 1.0;

}

.scroll_element {
  opacity: 0.0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  transition: all 0.5s ease;
}
