



@font-face {
    font-family: arcon;
    src: url(media/Arcon-Regular.otf);
}


p, h1, .backbutton, .backbutton_end, .scroll, .projects, .about, .contact, .logo {font-family: arcon;}



/*******************************************************************************************************/

.logo{
  position: fixed;
  top: 25px;
  left: 10%;
  letter-spacing: 2px;
  font-size: 15px;
}



.text_concept {margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
    color: black;
}

.kevin_bloch {margin-right: -4px;
  color: blue;
}

.cursor{
  position: relative;
      font-size: 20px;
        margin-left: 1px;
        animation: blinker 2s step-end infinite;
        color: black;
      }

@keyframes blinker {
  50% { opacity: 0; }
}


nav {
    text-align: right;
    position: fixed;
    width: 100%;
    margin-left:auto;
    margin-right: 10%;

    font-family: arcon;

    margin-top: 9px;
    transition: all 0.5s ease;

    font-size: 1em;
}






header {
  /*because box shadow is always on all sides*/
  margin-left: -10%;
  width: 120%;

  padding-top:30px;
  margin-top: -10px;
  height: 4em;
  box-shadow:0 0.05rem 1rem rgba(0,0,0,0.15);
  margin-bottom: 50px;

  position: fixed;
  top:0px;

  background: #ffffff;
  opacity: 0.9;
  transition: all 0.5s ease;

}


.scrolledHeader{
  height: 5%;
  transition: all 0.5s ease;
}

.scrollednav{
  margin-top: 0px;
  transition: all 0.5s ease;
}



 header a, .projects a  {
  color: black;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
}


header a, a {color:blue;
text-decoration: none;}

header a:hover, .projects a:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1.0;
  transition: all 1.5s ease;
  border-right: .15em solid black;
  animation:
    typing 0.5s steps(40, end),
    blink-caret 1.0s step-end infinite;
}

a:visited {color: None;}



.active a{
  opacity: 1.0;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { display: inline;
  margin-right: 50px;}

/*******************************************************************************************************/








  /*******************************************************************************************************/

  .backbutton {
    width: 40%;
    margin: auto;
    display: None;
  }


.backbutton_end {
    width: 10%;
    text-align: center;
    margin: auto;
    padding: 2%;
  }

.scroll {
  position: fixed;
  bottom: 20px;
  width: 5%;
  margin-left: 48%;
  opacitiy: 1.0;
  text-align: center;
}

.scroll_element {
  opacity: 0.0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  bottom: 300px;
  transition: all 1.5s ease;
}









.info {margin-bottom: 30vw;}


.video {padding-bottom: 10%
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

.gallery {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;

}


.gallery object {
    max-width: 100%;
    padding-bottom: 10%;

}

/*hide all default dummy images*/
img[src="default.png"] {
  display:None;
}




.projects, .about, .info {
  width: 80%;
  line-height: 1.2em;
  margin-top: 5em;
  margin-left: 10%;
  font-size: 1.5em;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0em solid black; /* The typwriter cursor */
  /*white-space: nowrap; /* Keeps the content on a single line */*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 0.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.info {animation: None}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}



.project_client_span {color: blue}

.projects a:hover {
letter-spacing: 1.5px;
  transition: all 0.5s ease;
  border-right: .15em solid black;
  animation:
    typing 0.5s steps(40, end),
    blink-caret 1.0s step-end infinite;
}

.projects a{
letter-spacing: 1px;
  transition: all 0.5s ease;
  margin-right: 0.5em;

}







/*responsive */
/*******************************************************************************************************//*******************************************************************************************************/
@media only screen and (max-width: 769px){
  .info, .about, .contact  {width: 100%;
        padding-top: 1em;
        margin-left: 0%;
        animation: None;
        overflow:visible;
      }
            .logo {display:none;}
}


@media (min-width: 1680px) {
  .projects, .about, .info {font-size: 2em;}
}
